@import "@/styles/sass/utils";

.MainMenu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  text-transform: uppercase;
  & ul {
    display: flex;
    align-items: stretch;
    padding: 0 $spacer;
    list-style: none;
  }
  & li {
    display: flex;
    align-items: stretch;
    &:hover {
      background-color: lighten($orange, 5%);
    }
  }
  & a {
    padding: 0 $spacer;
    display: flex;
    align-items: center;
  }
}
