/*
* BASE TYPOGRAPY
*/
body {
  font-family: $helvetica;
  font-size: $base-font-size;
  line-height: $line-height-base;
}

h1,
.h1 {
  font-size: $base-font-size * 2.5;
  margin-top: 0;
  margin-bottom: $spacer * 0.5;
}
h2,
.h2 {
  font-size: $base-font-size * 2;
  margin-top: 0;
  margin-bottom: $spacer * 0.5;
}
h3,
.h3 {
  font-size: $base-font-size * 1.75;
  margin-top: 0;
  margin-bottom: $spacer * 0.5;
}
h4,
.h4 {
  font-size: $base-font-size * 1.5;
  margin-top: 0;
  margin-bottom: $spacer * 0.5;
}
h5,
.h5 {
  font-size: $base-font-size * 1.25;
  margin-top: 0;
  margin-bottom: $spacer * 0.5;
}
h6,
.h6 {
  font-size: $base-font-size;
  margin-top: 0;
  margin-bottom: $spacer * 0.5;
}
p {
  font-size: $base-font-size;
  margin-bottom: $spacer * 1;
}
// Lists
ul,
ol {
  padding: $spacer;
}
//tags
// Order is :link -> :visited -> :hover -> :active -> :focus
a {
  color: inherit;
  text-decoration: none;
}
//hr
hr {
  border: ($base-font-size * 0.05) solid $rich-black;
  opacity: $base-opacity * 0.25;
}

/*
* PROJECT SPECIFIC TYPOGRAPY
*/
