// Colors
$rich-black: #010203;
$orange: #f9423a;

// Opacity
$base-opacity: 1;

// Breakpoints - based on bootstrap
$breakpoints: (
  tiny: 400px,
  small: 576px,
  medium: 768px,
  large: 992px,
  wide: 1200px,
);

// Font familys
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$arial-black: "Arial Black", Arial, sans-serif;

$base-font-size: 1rem;
$line-height-base: 1.5;
$spacer: 1rem;
